/* body */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
/* ==============================main section======================================== */

/* ==============================left section======================================== */
.left_section{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sub_left_section a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sub_left_section a:hover {
    color: #f1f1f1;
  }
.sub_left_section .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/* ==============================right top section======================================== */
.right_top_section{
    border: 1px solid red;
    top: 0;
    float: right;
    width: 100%;
    height: 100px;
}
.logo{
    width: 20%;
    float: left;
    padding: 1.5% 0%;
    margin: 1%;
}
.logo h1{
    line-height: 30px;
}
.profile{
    float: right;
    width: 15%;
    padding: 0.5% 0%;
    margin: 2%;
}
.profile img{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    float: left;
}
.profile p{
    font-size: 20px;
    padding: 1.5% 0%;
}


/* ==============================right section======================================== */
.right_section{
    border: 1px solid blue;
    float: right;
    width: 100%;
    height: clac(100vh-100px);
}














/* ======================================================================res ponsive section======================== */
@media screen and (max-height: 450px) {
    .sub_left_section {padding-top: 15px;}
    .sub_left_section a {font-size: 18px;}
  }