html{
    font-size: 62.5%;
}
body{
    font: 1.6rem Helvetica;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header-area"
    "main-area"
    "footer-area";
    grid-template-rows:5rem 1fr 5rem;
    height: 100%;
}
/* =========================================Heaer section====================================== */
.header-area{
    grid-area: "header-area";
    background-color: #f0f0f0;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}
.logo-box{
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 0.5rem;
}
.search-box{
    display: flex;
}
.city-box{
    padding-right: 1rem;
}
.links-box ul{
    display: flex;
    align-items: center;
}
.links-box ul li{
    list-style: none;
    padding-left: 1.5rem;
}
.links-box ul li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #000000;
}
/* =========================================Mian section====================================== */
.main-area{
    grid-area: "main-area";
    border: 1px solid blue;
}

/* =========================================footer section====================================== */
.footer-area{
    grid-area: "footer-area";
    border: 1px solid green;
    background-color: greenyellow;
}