html{
    font-size: 62.5%;
}
body{
    font: 1.6rem Helvetica;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header-area"
    "main-area"
    "footer-area";
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
/* =========================================Heaer section====================================== */
.header-area{
    grid-area: "header-area";
    background-color: #f0f0f0;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}
.logo-box{
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 0.5rem;
}
.openbtn{
    align-items: center;
    font-size: 2rem;
    outline: none;
    border: 1px solid #000000;
    border-radius: 10%;
}
.resposive-search-box{
    display: none;
}
.search-box{
    display: flex;
    align-items: center;
    /* display: none; */
}
.city-select{
    /* padding-right: 1rem; */
    /* position: relative; */
    margin-right: auto;
}
.city-select select{
    padding: 0.8rem;
    outline: none;
    border-radius: 5%;
    font-weight: bold;
    overflow: scroll;
    background-color: #f0f0f0;
}
.city-select select option{
    font-weight: bold;
    background-color: #fff;
    padding-bottom: .5rem;
}
.search-container{
    border-radius: 10%;
    margin-left: 2rem;
}
.from-area{
    display: flex;
    align-items: center;
}
.search-container form input{
    width: 75rem;
    padding: 0.7rem;
    outline: none;
    font-weight: bold;
    letter-spacing: .2rem;
}
.search-container form button{
    width: 6rem;
    padding: 0.7rem;
    outline: none;
}
.links-box ul{
    display: flex;
    align-items: center;
}
.links-box ul li{
    list-style: none;
    padding-right: 1.5rem;
}
.links-box ul li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #000000;
}
.links-box ul li a button{
    font-size: 1.5rem;
    border: 1px solid #000000;
    font-weight: bold;
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    outline: none;
    border-radius: 10%;
}
/* =========================================Mian section====================================== */
.main-area{
    grid-area: "main-area";
    border: 1px solid blue;
}

/* =========================================footer section====================================== */
.footer-area{
    grid-area: "footer-area";
    border: 1px solid green;
    background-color: greenyellow;
}

/* ===============================================================Resposive Section================================ */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .resposive-search-box{
        display: flex;
        margin-left: 2rem;
    }
    .location-icon, .search-icon{
        margin-left: 2rem;
    }
    .search-box{
        display: none;
    }

  }